@use 'styles/_theme.scss' as theme;
@use 'styles/breakpoints' as breakpoints;

.layoutMain {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;

  width: 100%;
  max-width: breakpoints.$lg;
  margin: 0 auto;
  padding: 0 1rem;

  background-color: theme.$color-background;
}