@use 'src/styles/theme' as theme;

.table {
  width: 100%;

  thead {
    tr {
      background-color: theme.$color-background2;
    }

    td p {
      color: theme.$accent;
    }
  }

  tbody {
    tr:nth-of-type(even) {
      background-color: theme.$color-background2;
    }

    tr:nth-of-type(odd) {
      background-color: theme.$white;
    }
  }

  td {
    padding: 10px;
  }
}

.tableToolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
}

.noItemsMessage {
  text-align: center;
}

.dropdown {
  width: 200px;
}

.dateFilterBox {
  position: relative;
}

.dateFilterBackdrop {
  background-color: transparent;
}

.dateFilterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  background-color: theme.$background-color-button2;
  color: theme.$color-text-contrast;

  p {
    color: theme.$color-text-contrast;
  }

  &:hover {
    opacity: 0.9;
    border: none;
    background-color: theme.$background-color-button2;
    color: theme.$color-text-contrast;
  }
}

.dateFilterModal {
  z-index: 10010;
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  padding: 15px;
  bottom: -10px;
  right: 0;
  transform: translateY(100%);
  border-radius: 10px;
  background-color: theme.$white;
  box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.15);
  overflow: hidden;
}

.dateFilterModalOpened {
  display: flex;
}

.dateFilterItemBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dateFilterInputsBox {
  display: flex;
  gap: 10px;
}

.dateFilterItemTitle {
  align-self: flex-end;
  padding-bottom: 12px;
  margin-right: auto;
}

.filterErrorMessage {
  align-self: center;
}

.dateFilterInputError input {
  border-color: theme.$error;
}
.resetDateFilter {
  align-self: center;
}