@use 'src/styles/theme' as theme;

.header {
  margin-bottom: 30px;
  color: theme.$accent;
}
.changeTitleInput {
  margin-bottom: 50px;
}
.form {
  display: flex;
  flex-direction: column;

}

.saveButton {
  align-self: center;
}