  /* COLORS */
  $white: #fff;
  $black: #000;
  $grey101: #F2F4F8;
  $grey102: #F6F6F6;
  $grey103: #EFF1F3;
  $grey104: #FAFBFC;
  $grey701: #9EA9B2;
  $grey801: #A8AFBC;
  $blue901: #243566;
  $lightblue: #aad2fb;
  $red500: #ac2525;
  $dark: $black;
  $accent: $blue901;
  $error: $red500;
  
  $color-text: $grey801;
  $color-text-contrast: $white;
  $color-link: $lightblue;
  $color-background: $grey101;
  $color-background2: $grey104;
  $background-color-button1: $grey102;
  $background-color-button2: $grey701;
  $color-border1: $grey103;

  /* TYPOGRAPHY */
  $p1-size: 14px;
  $p2-size: 12px;
  $p1-lh: 15px;
  $p2-lh: 15px;
  
  $h1-size: 36px;
  $h1-lh: 44px;
  $h6-size: 20px;
  $h6-lh: 24px;
  $font-weight1: 400;
  $font-weight2: 500;
  $font-weight3: 800;
