@use 'src/styles/theme' as theme;

:root {
  font-family: Inter, sans-serif;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  color: theme.$color-text;
  background: theme.$white;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: theme.$color-text;
}
