@use 'src/styles/theme' as theme;

.header {
  justify-content: flex-start;
}

.headerLink {
  width: 100px;
  height: 100%;
  color: theme.$white;
  transition: all 0.3s;

  &:hover {
    color: theme.$dark;
    background-color: theme.$white;
  }
}

.activeLink {
  pointer-events: none;
  opacity: 0.5;
}